NEXTAUTH_URL=http://localhost:18130
DATABASE_URL=<set-a-local-postgres-dsn-in-.env>
SALT=REPLACE_WITH_RANDOM_SALT
ENCRYPTION_KEY=CHANGEME_NON_SECRET_64_HEX_PLACEHOLDER
NEXTAUTH_SECRET=REPLACE_WITH_RANDOM_SECRET
CLICKHOUSE_PASSWORD=REPLACE_WITH_STRONG_CLICKHOUSE_PASSWORD
LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=CHANGEME_NON_SECRET_PLACEHOLDER
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY=CHANGEME_NON_SECRET_PLACEHOLDER
LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY=CHANGEME_NON_SECRET_PLACEHOLDER
REDIS_AUTH=REPLACE_WITH_STRONG_REDIS_PASSWORD
MINIO_ROOT_PASSWORD=REPLACE_WITH_STRONG_MINIO_PASSWORD
POSTGRES_PASSWORD=REPLACE_WITH_STRONG_POSTGRES_PASSWORD
